html, body{ margin:0; padding:0; width:100%; height:100%; font-size:16px; font-family: Calibri,sans-serif;}
body { min-width: 1220px; color:#000000; overflow-y: scroll; background-color: #eef1f5; font-weight: 300;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none !important;}
a, img {border: none; text-decoration: underline; }
/*img { max-width: 100%; height: auto !important; }*/
a:hover { text-decoration: none;}
pre { white-space: pre-wrap; word-wrap: break-word;}
p, h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; word-wrap: break-word;}
table {border-collapse: collapse; border: none; border-spacing: 0; }
::-webkit-input-placeholder {color:#a5a5a5; font-size: 1rem; font-weight: normal;}
::-moz-placeholder          {color:#a5a5a5; font-size: 1rem; font-weight: normal;}
:-moz-placeholder           {color:#a5a5a5; font-size: 1rem; font-weight: normal;}
:-ms-input-placeholder      {color:#a5a5a5; font-size: 1rem; font-weight: normal;}
:focus::-webkit-input-placeholder { color: transparent }
:focus::-moz-placeholder { color: transparent }
:focus:-moz-placeholder { color: transparent }
:focus:-ms-input-placeholder { color: transparent }
.input { font-family: Calibri,sans-serif;font-size:1rem;height: 35px;padding-left: 7px;width: 100%; border: 1px solid #b4bcc8;background: #fff;}
.textarea {font-family: Calibri,sans-serif;font-size:1rem; padding: 7px; width: 100%;border: 1px solid #b4bcc8;background: #fff;height: 100px;}
.texarea-none {display:none}
.input:focus, .textarea:focus { 
	border-color: #a5c4cf !important;-webkit-box-shadow: 0px 0px 10px #a5c4cf;box-shadow: 0px 0px 10px #a5c4cf;
}
.noread { cursor: not-allowed !important; opacity: .65; pointer-events: none; }
.no-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select: none}
select, strong,pre { font-family: Calibri,sans-serif;}
.clearfix:before, .clearfix:after { content:" "; display:table; width:100%}
.myvideo { position:relative; overflow:hidden;width: 560px; display: block;}
.myvideo-for-ifarme { padding-bottom:56.25%; width: 100%; overflow:hidden; }
.myvideo iframe,.myvideo object,.myvideo embed { position:absolute; top:0; left:0; width:100%; height:100%; }
.myvideo:last-of-type { margin: 10px 0 0; }
.bg-cover { background-position:50% 50%; background-repeat: no-repeat; background-size: cover;}
.bg-contain { background-position:50% 50%; background-repeat: no-repeat; background-size: contain;}
.bg-cover-top { background-position:50% 0; background-repeat: no-repeat; background-size: cover;}
.bg-contain-top { background-position:50% 0; background-repeat: no-repeat; background-size: contain;}
/* ВЫКЛЮЧАТЕЛЬ */
.for-vkl-vykl { padding: 10px 0 15px; position: relative; }
.vkl_vykl { vertical-align: top; margin: 0 3px 0 0; width: 17px; height: 17px; }
.vkl_vykl + label { cursor: pointer; }
.vkl_vykl:not(checked) { position: absolute; opacity: 0; }
.vkl_vykl:not(checked) + label {position: relative;padding: 0 0 0 55px;}
.vkl_vykl:not(checked) + label:before {
	content: ''; position: absolute; top: -4px; left: 0; width: 50px; height: 26px;
	border-radius: 13px; background: #CDD1DA; box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.vkl_vykl:not(checked) + label:after {
	content: ''; position: absolute; top: -2px; left: 2px; width: 22px; height: 22px; border-radius: 10px;
	background: #FFF; box-shadow: 0 2px 5px rgba(0,0,0,.3); transition: all .2s; -webkit-transition: all .2s;
}
.vkl_vykl:checked + label:before { background: #9FD468; }
.vkl_vykl:checked + label:after { left: 26px; }
.vkl_vykl:focus + label:before { box-shadow: 0 0 0 3px rgba(255,255,0,.5); }
.radio_vkl { vertical-align: top; width: 17px; height: 17px; margin: 0 3px 0 0; }
.radio_vkl + label { cursor: pointer; }
.radio_vkl:not(checked) { position: absolute; opacity: 0; }
.radio_vkl:not(checked) + label { position: relative; padding: 0 0 0 30px; }
.radio_vkl:not(checked) + label:before {
	content: ''; position: absolute; top: -3px; left: 0; width: 22px; height: 22px;
	border: 1px solid #CDD1DA; border-radius: 50%; background: #FFF;
}
.radio_vkl:not(checked) + label:after {
	content: ''; position: absolute; top: 1px; left: 4px; width: 16px; height: 16px; 
	border-radius: 50%; background: #9FD468; box-shadow: inset 0 1px 1px rgba(0,0,0,.5); opacity: 0; transition: all .2s;
}
.radio_vkl:checked + label:after { opacity: 1; }
.radio_vkl:focus + label:before { box-shadow: 0 0 0 3px rgba(255,255,0,.5); }
/************** block for footer **************/
.user-select { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor:default;pointer-events: none;}
.MessageAct { position: fixed; z-index: 10000; top: 0; right: 20px; padding-top: 30px; display: none; }
.MessageAct p { background: #9FD468; -webkit-box-shadow: 0px 0px 10px rgba(44,77,109, .7); box-shadow: 0px 0px 10px rgba(44,77,109, .7);
	padding: 7px 15px; border-radius: 5px;  white-space: nowrap;
}
#BoxModalMain {position:fixed; left:-100%; top:0; bottom: 0; z-index:90;opacity:0;width:100%;
	background: rgba(54,65,80,.7);overflow: hidden; -webkit-overflow-scrolling: touch;
	display: -webkit-flex; display: flex;flex-direction: column; -webkit-flex-direction: column;
	-webkit-align-items: center; align-items: center;justify-content: center; -webkit-justify-content: center;
	transition: left .4s,opacity .5s; -webkit-transition: left .4s,opacity .5s;
}
#BoxModalMain.for-price-photo { justify-content: flex-start; -webkit-justify-content: flex-start;}
#BoxModalMain > * { -webkit-transform: translateZ(0px); }
#BoxModalMain.current {left:0;opacity:1;}
#BoxModalMain1{z-index:91;position:relative;padding:30px 0;max-height:100vh;overflow:hidden}
#BoxModalMain1>.close {position:absolute; top: 10px; right: 0; cursor: pointer; width:15px; height:15px; z-index: 91;}
#BoxModalMain.for-price-photo.m-kit #BoxModalMain1>.close {display:none}
#Dialog {z-index:92;position:relative;color:#000;padding:15px;text-align:center;background:#000;
	max-height:calc(100vh - 60px);overflow: auto
}
#Dialog.for-price-photo {padding:0; }
#Dialog h2 {font-size:1.3rem; padding: 0 0 10px; text-align: center; font-weight: 500;}
#Dialog p {margin:0 15px 10px; font-size:1.1rem;}
#Dialog.for-kit {background: #FFF; text-align: left}
#Dialog.for-kit p {padding: 0 0 15px}
.Err { background:red !important; color:#FFF !important;}
#mask{position:fixed; left:0; top:0; width:100%; height:100%; z-index:9999; background-color: rgba(0,0,0, .8); display:none; color:#fff;}
#NameFile{color:#fff;width:100%;padding:15px}
#rez{color:#fff;width:100%;padding:0 0 15px}
.progress{position:relative;width:400px;border: 1px solid #ddd;padding:1px;border-radius:3px;background-color:#eeeeee;margin:0 auto}
.bar{background-color: #3be83b; width: 0%; height: 20px; border-radius: 3px;}
.percent{position: absolute; display: inline-block; top: 3px; left: 48%; color:red;}
#status{text-align:center}
#BoxModalMain1.for-form{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
	justify-content:center;-webkit-justify-content:center;width:100%;max-width:450px
}
#BoxModalMain1.for-form #Dialog{background:#FFF;text-align:left;height:auto;max-height:auto;width:100%}
#BoxModalMain1.for-form .main-icon{display:inline-block !important}
#Dialog div{margin-bottom:15px}
#Dialog section{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center}
#Dialog section span{margin-left:7px}
/**************** all ***************/
.xk-admin {padding: 0 0 15px; }
.xk-admin a { color:#000; text-decoration: none; }
.xk {font-size:19px; color:#b4bcc8;font-weight:300;background:#364150;position:fixed;z-index:20;top:0;left:270px;right:0;
	padding:15px 30px 15px;display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	align-items: center; -webkit-align-items: center;justify-content: space-between; -webkit-justify-content: space-between;
}
.xk-menu {display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	align-items: center;-webkit-align-items: center;
}
.xk-menu div {margin-left: 15px;}
.xk-menu i {margin-right: 5px;}
.xk a { color:#b4bcc8; text-decoration: none; }
.fileSave { padding-left:20px; background: url(/img/stock_save.png) 0 50% no-repeat; margin:10px 0;}
.fileSave a { color: #000000;}
.fileSave a:hover, .xk a:hover, .xk-admin a:hover { color: #ffcd2f; }
.namePages {font-size:1.5rem; color: #000000; padding: 0 0 5px 10px;}
.nameGroup {font-size: 1rem; color: #000000; padding: 0 0 5px 10px; margin-top: -7px;}
.name-pages { padding-bottom: 15px; color: #000;font-size:1.2rem;font-weight:600 }
.name-pages span {display: inline-block;height: 30px;line-height: 30px;padding: 0 20px;margin:0 0 0 5px;background-color: #364150;color: #FFF;border-radius: 5px;}
.name-pages.border { margin-bottom: 7px; border-bottom: 1px solid #e3dfdf; padding-bottom: 7px;}
.button{cursor:pointer;text-align:center;color: #FFF; text-decoration: none; height: 30px;display: inline-block;font-size: 1rem;
	border: 1px solid #e7505a;background-color: #e7505a;border-radius: 5px; padding: 0 20px;margin-right: 2px;
	transition:all .3s; -webkit-transition: all .3s;
}
.button { line-height: 29px; }
.button:hover{ background-color: #FFF; color: #364150; }
.button.current{ background-color: #FFF; color: #364150; }
.button-gray{cursor:pointer;text-align:center;color: #000; text-decoration: none; height: 30px;display: inline-block;
	font-size: 1rem; border: 1px solid #e3dfdf; background-color: #FFF; border-radius: 5px; padding: 0 20px; margin-right: 5px;
}
.button-gray { line-height: 30px; }
.button-gray:hover{border-color: #364150; color: #364150;}
input[type='file'] { padding: 3px 7px 0 !important; }
.button-gray.current{background-color: #364150; color: #FFF; }
.div-for-submit { display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	align-items: center; -webkit-align-items: center;border-top: 2px solid #364150;
	background-color: #eef1f5; position: fixed; z-index: 100;bottom: 0;left:300px;right:0; padding: 15px 0 15px 25px;
}
.div-for-submit a { color: #000;}
.div-for-submit div:nth-of-type(2) { padding: 0 15px 0 50px;}
.div-for-submit div:nth-of-type(3) { padding: 0 15px 0 0;margin-left:auto;}
.for-checked { cursor: pointer; }

.navPage { padding:15px 0; font-size:1rem;
	display: -webkit-flex; display: flex;flex-flow: row wrap; -webkit-flex-flow: row wrap;
}
.navPage>p { padding: 0 0 15px;width: 100%}
.navPage a{display:block;flex: 0 0 auto;-webkit-flex: 0 0 auto;color:#000;border: 1px solid transparent;border-radius: 5px;
	text-decoration:none;text-align: center;width: 24px;height: 24px;line-height:24px; position:relative
}
.navPage a.activPage {background:#364150;color:#FFF;border-color: #364150}
.navPage a:hover { border-color: #364150}
.navPage a.goto-back:before{content: "";position: absolute;top: 50%;left: 50%;width: 0; height: 0;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-top: 5px solid transparent;border-right: 10px solid #d34c45;border-bottom: 5px solid transparent;
}
.navPage a.goto-end:before {content: "";width: 0; height: 0;position: absolute;top: 50%;left: 50%;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-top: 5px solid transparent;border-left: 10px solid #d34c45;border-bottom: 5px solid transparent;
}

/** END выключатель */
.logo-adm { display:block; top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);position:absolute}
/***************** content *******************/
.main { display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	min-height:100vh;
}

.left-global{ flex: 0 0 auto;width:270px;background:#364150;font-size:1rem;}
.global-nav {list-style:none; padding:15px 10px 50px 15px; margin:0; position:relative;min-height:100vh;}
.global-nav>li{display:block;position:relative;padding: 15px 0 0;width:100%;transition: all .3s; -webkit-transition: all .3s;}
.global-nav a { display:block;color:#b4bcc8;transition: color .3s;-webkit-transition: color .3s;text-decoration:none;}
.global-nav>li>a {position:relative;padding-left: 25px;font-size:18px}
.global-nav .fa {position:absolute;left:0;top:50%;-webkit-transform: translateY(-50%); transform: translateY(-50%)}
.global-nav li:hover>a, .global-nav a:hover, .global-nav a.current { color: #ffcd2f; }
.global-nav>li:first-of-type{ padding: 0;}
.global-nav>li:first-of-type>a {display:block;padding:0;text-align:center}
.global-nav>li:first-of-type span {display:inline-block;position:relative;line-height:28px;vertical-align:top}
.global-nav>li:first-of-type img{display:inline-block;margin-right:10px;vertical-align:top}
/*.global-nav>li:last-of-type{ padding: 0 0 0 25px;color:#b4bcc8;position:relative;}*/
.global-nav ul {list-style:none; padding: 0 0 0 25px;margin:0;}
.global-nav ul li {padding: 7px 0 0}
.global-nav .book { margin-left:-25px !important}
.global-nav .book>a {position:relative; padding-left:25px}

.content {padding: 70px 10px 90px 30px;width:100%;max-width:1400px}

.all-list {list-style:none; padding:15px 0 0;margin:0}
/*list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)*/
.all-list ul {list-style:none; padding: 0 0 0 25px;margin:0}
/*.all-list li{margin:2px 0}*/
.all-list li.feeadback {background:#FFF}
.all-list li>div {border-radius:3px;border:1px solid #b4bcc8;padding:2px 10px}/*;margin:2px 0*/
.all-list li:hover{background:#FFF}
.all-list a { color: #000; font-weight:400;}
.all-list a:hover {color: #000; }
.all-list .for-logo { min-width:30px;}
.all-list .for-logo img {display:block;max-width:30px;height:auto;}
.all-list-item {display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;align-items: center; -webkit-align-items: center;}
.all-list-item>div {margin-right:10px}
.all-list-item-edit {width:500px;flex:1 0 auto;-webkit-flex:1 0 auto}
.all-list-item>div:last-of-type {padding-right:0;margin-left:auto;
	display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;align-items: center; -webkit-align-items: center;
}
.all-list-item>div:last-of-type div {
	display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;align-items: center; -webkit-align-items: center;
	padding-left: 15px;
}

.ui-draggable li { z-index: 92; }

.all-list .disclose { position:relative; visibility: hidden; }
.all-list .disclose>strong {position:absolute;top:7px;left:4px;}
.all-list .mjs-nestedSortable-leaf .disclose { visibility: hidden !important; }
.all-list .mjs-nestedSortable-branch .disclose {visibility: visible;}
.all-list .mjs-nestedSortable-error { border-color: #fddfdf; background: #fddfdf; }
.all-list .mjs-nestedSortable-collapsed .disclose>strong { background-position: -32px -16px;}
.all-list .mjs-nestedSortable-expanded .disclose>strong {background-position: -65px -16px;}
.all-list .mjs-nestedSortable-leaf .plus { visibility: hidden !important; }
.all-list .mjs-nestedSortable-branch .plus {visibility: visible;}
.all-list .mjs-nestedSortable-collapsed > ul { display: none; }
.placeholder {
	outline: 1px dashed #4183C4;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: -1px;*/
}


.main-icon { margin: 2px;position: relative;cursor: pointer;border-radius: 2px;border: 1px solid #b4bcc8; color:#000;
	-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;display:block;width:25px;height:25px
}
.main-icon.current {color:#e7505a; border-color:#e7505a}
.main-icon:hover { border-color:#ffcd2f;color:#ffcd2f; }
.main-icon i {position:absolute;top:50%;left:50%;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
.main-icon.for-choose { margin-left:auto;position:relative}
.choose {position:absolute;color:#000;padding:0;margin:0;top:5px;left:5px;}
/************user************/
.edit-admin {display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	align-items: center; -webkit-align-items: center;padding: 0 0 15px;
}
.edit-admin div { padding-right:15px; width: 250px;}
#frmUser ul {list-style:none; padding: 15px 0 50px;margin:0}
#frmUser ul li { padding: 0 0 20px;}
#frmUser ul ul { padding: 20px 0 0 30px;}
/************** feedback**********/
.info-feedback{display:none; padding: 10px 0 15px;}
/************setting*************/
#frm fieldset {margin: 0 0 15px; border: 1px solid #e3dfdf; padding: 5px; border-radius: 5px; background-color: #eee;}
.fieldset-3, .fieldset-2 { width: 100%; }
.fieldset-3 td:first-of-type, .fieldset-2 td:first-of-type { padding-right: 10px; }
.fieldset-3 td:last-of-type, .fieldset-2 td:last-of-type { padding-left: 10px; }
.fieldset-3 td:nth-of-type(2) { padding: 0 5px; }
.fieldset-3 td { width: 33.333333%; }
.fieldset-2 td { width: 49.999999%; }
.seo-table { width: 100%; text-align: center; font-weight: bold;}
.seo-table td:first-of-type { padding-right: 10px; }
.seo-table td:last-of-type { padding-left: 10px; }
.seo-table td:nth-of-type(2) { padding: 0 5px; }
.seo-table textarea { height: 500px !important; width:100%}
/****************SHEET***********/
.menusheet {list-style:none; padding: 0 0 15px;margin:0;}
.menusheet li{ display:inline-block;vertical-align:top;padding:3px 7px;border:1px solid #364150;border-radius:3px 3px 0 0;}
.menusheet a {text-decoration:none;color:#000;}
.menusheet li:hover{background:#b4bcc8;}
.menusheet li.current {background:#364150;}
.menusheet li a.current {color:#fff;}
.main-ckeditor {display:none}
.for-edit{padding:15px 0 0}
.zvezda {color:red}
.photo-logo-modul {margin: 5px 0 10px;border:1px solid #b4bcc8;overflow:hidden;}
.fotoImg img {display:block}
.button-logo { display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap; padding-bottom:15px}
.sheet-brend { padding: 0 0 15px;width:500px;}
.sheet-brend select {font-size:17px; height:35px;}
/****************ARTICLES***********/
.menu-articles {list-style:none; padding: 0 0 15px;margin:0;display:-webkit-flex;display: flex;flex-flow:row nowrap;-webkit-flex-flow:row nowrap;}
.menu-articles-nav{padding:3px 7px;border:1px solid #364150;border-radius:3px 3px 0 0;}
.menu-articles-nav a {text-decoration:none;color:#000;}
.menu-articles-nav:hover{background:#b4bcc8;}
.menu-articles-nav.current {background:#364150;}
.menu-articles-nav a.current {color:#fff;}
.menu-articles-add {padding:0 0 0 15px;margin-left:auto;}
.axtung {font-size:14px;font-style:italic;padding:15px 0 0;}
.filter { position: fixed; background-color: rgba(0,0,0, .8); top:0; right: -360px; bottom:0; overflow: auto; padding: 0 15px; 
	transition: right .3s; -webkit-transition: right .3s; color: #FFF; width: 350px; z-index: 90;
}
.filter.current { right: 0; }
.filter div { padding: 15px 0; }
.filter .close { text-align: right; color: #fe8d00; cursor: pointer;}
.filter .close:hover { color: #FFF; }
.select-categories { display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	align-items: center; -webkit-align-items: center;
}
.select-categories-item:nth-of-type(2) {padding: 0 0 0 15px;}
.select-categories-item:nth-of-type(1) { width: 500px; height:35px;-webkit-user-select: none;-moz-user-select: none;user-select: none;position:relative;}
.active-categories { white-space: nowrap;line-height:35px;overflow:hidden;padding: 0 25px 0 10px;position:relative}
.active-categories:before { content: "\f115";font-family: 'FontAwesome';position:absolute;right:3px;top:0;}

.list-categories{position: absolute;top: 100%;left: -9999px;z-index: 1010;width: 100%;border: 1px solid #aaa;border-top: 0;background: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); padding: 0 10px 15px;
}
.list-categories.active{left:0}
.from-input {padding: 15px 0;position:relative}
.from-input:before {content: "\f002";font-family: 'FontAwesome';position:absolute;right:5px;top:24px;}
#findcat { padding: 0 25px 0 10px}
.list-categories>ul {list-style:none; padding: 0;margin:0;max-height:300px;overflow-y:auto;overflow-x:hidden;}
.list-categories>ul ul {padding: 0 0 0 15px;list-style:none;margin:0;}
.list-categories li a {display:block;padding:3px;cursor:pointer;text-decoration:none;color:#000;}
.list-categories li a:hover {background:#364150;color:#ffcd2f;}

.select-brend { display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;
	align-items: center; -webkit-align-items: center;
}
.select-brend-item:nth-of-type(2) {padding: 0 0 0 15px;}
.select-brend-item:nth-of-type(1) { width: 500px; height:35px;-webkit-user-select: none;-moz-user-select: none;
	user-select: none;position:relative;
}
.active-brend { white-space: nowrap;line-height:35px;overflow:hidden;padding: 0 25px 0 10px;position:relative;color:#000}
.active-brend:before { content: "\f115";font-family: 'FontAwesome';position:absolute;right:3px;top:0;}

.list-brend{position: absolute;top: 100%;left: -9999px;z-index: 1010;width: 100%;border: 1px solid #aaa;border-top: 0;background: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); padding: 0 10px 15px;
}
.list-brend.active{left:0}
.from-input {padding: 15px 0;position:relative}
.from-input:before {content: "\f002";font-family: 'FontAwesome';position:absolute;right:5px;top:24px;}
#findbrend { padding: 0 25px 0 10px}
.list-brend>ul {list-style:none; padding: 0;margin:0;max-height:300px;overflow-y:auto;overflow-x:hidden;}
.list-brend>ul>li>a{font-weight:600}
.list-brend>ul ul {padding: 0 0 0 15px;list-style:none;margin:0;}
.list-brend li a {display:block;padding:3px;cursor:pointer;text-decoration:none;color:#000;line-height:1}
.list-brend li a:hover {background:#364150;color:#ffcd2f;}
.select-brend-articles{display: -webkit-flex; display: flex; flex-direction: column; -webkit-flex-direction: column}
.select-brend-articles .select-brend-item{width:100% !important}

/*************** SEO *************************/
.seo { margin: 15px 0; padding: 15px; font-size:17px; }
/***************** SLIDER *****************/
.message { font-weight: bold; text-align: center; border-bottom: 1px solid #2c4d6d; padding-bottom: 7px; margin-bottom: 7px;}
#newfoto {padding:15px 0 25px;}
#sortable { overflow: hidden; list-style-type: none; margin: 0; padding: 15px 0; width:100%; display: block;}
.sortableSlider li { margin: 0 0 15px; text-align: center; border:1px solid #e3dfdf; background-color:#f5f5f5; display: block;}
.sortableSlider li input[type='text'] {width:500px;}
.sortableSlider li img {cursor:pointer; vertical-align: top;}
.sortableSlider table { width: 100%; }
.sortableSlider td { width: 49.999999%; padding: 5px; }
.photo-slider-menu {display: -webkit-flex; display: flex;}
/******************** PhotoGall************/
.sortablePhoto li {width: 24.999999%; display: inline-block; background-color:#f5f5f5; padding: 5px; vertical-align: top; text-align: center;}
.sortablePhoto li>div { border:1px solid #e3dfdf;background-color:#f5f5f5;padding: 5px;}
.photoPreview { width: 100%; padding-bottom:100%; background-position:50% 50%; background-repeat: no-repeat; background-size: contain;cursor:pointer; }
.sortablePhoto img {cursor:pointer; width: 100%; height: auto; margin-bottom: 3px;}
.actions-choose { display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap; margin: 15px 0;
	align-items: center; -webkit-align-items: center; padding: 3px 7px; border: 1px solid #b4bcc8; border-radius:3px
}
.actions-choose div { padding-right: 30px;}
.actions-choose select {font-size:16px; height:25px;}
/********************* PricePhoto **************/
.photo-price {display:none;padding:15px 0;}
.modal-price-photo { width:1180px;height:100%;position:relative;background:#FFF;}
/******************* Feature Ony *************/
table.feature { width: 100%; margin-bottom: 15px;}
table.feature td:first-of-type  { padding-right: 10px; width: 200px; font-weight: bold;}
.edit-many-feature {display:none;padding: 15px;width:100%}
.edit-many-feature-em {display:none;float:left;padding-left:15px;color:red}
/********************* ChangeEazdel ************/
.change-parent { list-style-type: none; margin: 0; padding: 0;}
.change-parent li { display: block; cursor: move; width: 475px; border: 1px solid #2c4d6d; background-color: #FFF; overflow: hidden;
	border-radius: 3px; margin: 2px 0; white-space: nowrap; text-overflow: ellipsis; padding: 3px 7px;
}
.parent-new { position: fixed; background-color: rgba(0,0,0, .8); top: 92px; bottom: 1px; left: 780px;
	overflow: auto; padding: 15px;color: #FFF; width: 490px; z-index: 20; border-radius: 0 5px 5px 0
}
.parent-new  * { box-sizing:border-box; -webkit-box-sizing:border-box;}
.parent-new ul { list-style-type: none; margin: 0; padding: 0;}
.parent-new ul ul { padding-left: 15px !important; }
.parent-new li div { padding: 10px; border: 1px solid rgba(255,255,255, .5); border-radius: 3px; margin: 0 0 5px;}
.parent-new li div.active { border-color:#fe8d00; }
.parent-new li div.hover { background-color:#fe8d00; color: #2c4d6d;}
.parent-new .close { text-align: right; color: #fe8d00; cursor: pointer; padding-bottom: 15px; display:block; text-decoration: none}
.parent-new .close:hover {color:#FFF }
.parent-new-footer { bottom: 0; left: 271px; width: 1000px; background-color: rgba(44,77,109, .8); position: fixed;
	height: 40px; line-height: 40px;text-align: center; color: #FFF; cursor: pointer; font-size: 1.1rem;
	border-radius: 5px 5px 0 0; text-decoration: none;
}
.parent-new-footer:hover {color: #fe8d00; }
/************** справочники ***********************/
.spr_checkbox{display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;
	border-top:1px solid #ccc;border-bottom:1px solid #ccc
}
.spr_checkbox>div{width:calc(100% / 4);margin:0 10px 5px 0}
.spr_checkbox label{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.spr_checkbox label,.spr_checkbox input[type='checkbox'],.spr_checkbox input[type='radio']{cursor:pointer}
.for-spr_checkbox{margin:0 0 7px;font-weight:bold;font-size:18px;width:100%}
/****************** Комплекты *****************/
.product-kit{display: -webkit-flex; display: flex;flex-flow: row nowrap; -webkit-flex-flow: row nowrap;margin: 0 0 5px;
	border:1px solid #eee
}
.product-kit div:first-of-type{ flex: 1 0 auto; -webkit-flex: 1 0 auto; padding-left:15px}
.product-kit div:last-of-type{ flex: 0 0 auto; -webkit-flex: 0 0 auto}
.new-kit {width: 900px;margin:-10px auto 0; padding: 10px;border:1px solid #eee}
.new-kit-item {margin:15px 0;overflow:auto;max-height:350px}
.new-kit-product {display:block;text-decoration:none;color:#000;font-size:14px;padding: 0 0 5px}
.new-kit-product:hover {color:#e7505a}
/******************* Покупатели *****************/
.customer{padding:7px 10px;border:1px solid #EEE;border-radius:3px;margin:0 0 5px;background:#FFF}
.customer-item{cursor:pointer}
.customer-item.current{font-weight:600}

.flex{display:-webkit-flex;display:flex}
.flex-wrap{flex-flow:row wrap;-webkit-flex-flow:row wrap}
.flex-align-center{align-items:center;-webkit-align-items:center}
.flex-align-start{align-items:start;-webkit-align-items:start}
.flex-align-end{align-items:flex-end;-webkit-align-items:flex-end}
.flex-justify-between{justify-content:space-between;-webkit-justify-content:space-between}
.flex-justify-center{justify-content:center;-webkit-justify-content:center}
.flex-justify-end{justify-content:flex-end;-webkit-justify-content:flex-end}
.flex-justify-around{justify-content:space-around;-webkit-justify-content:space-around}
.flex-column{display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column}
/*СОПУТСТВУЮЩИЕ*/
.related-left{width:400px;flex:1 0 auto;-webkit-flex:1 0 auto;padding-right:20px}
.related-right{width:350px;flex:0 0 auto;-webkit-flex:0 0 auto;background:#000;color:#FFF;padding:15px}
.related-search{margin-bottom:15px}
.related-search input[type='text']{width:100px;border:1px solid #FFF;height:40px;padding:0 7px;
	background:#000;color:#FFF;flex:1 0 auto;-webkit-flex:1 0 auto
}
.related-search img{width:15px;display:block;margin-left:7px;cursor:pointer;flex:0 0 auto;-webkit-flex:0 0 auto}
.related-result-search>div{margin-bottom:10px;cursor:pointer}
.related-result-search>div:hover{color:#ffcd2f}




