@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('/css/images/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('/css/images/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-300.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('/css/images/MuseoSansCyrl-300Italic.eot');
	src: local('MuseoSansCyrl-300Italic'),
		url('/css/images/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-300Italic.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-300Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('/css/images/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('/css/images/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-500.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('/css/images/MuseoSansCyrl-500Italic.eot');
	src: local('MuseoSansCyrl-500Italic'),
		url('/css/images/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-500Italic.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-500Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('/css/images/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('/css/images/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-700.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('/css/images/MuseoSansCyrl-700Italic.eot');
	src: local('MuseoSansCyrl-700Italic'),
		url('/css/images/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-700Italic.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-700Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('/css/images/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('/css/images/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-900.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('/css/images/MuseoSansCyrl-900Italic.eot');
	src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'),
		url('/css/images/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
		url('/css/images/MuseoSansCyrl-900Italic.woff') format('woff'),
		url('/css/images/MuseoSansCyrl-900Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: 'fontello';
  src: url('/css/images/fontello.eot?54523958');
  src: url('/css/images/fontello.eot?54523958#iefix') format('embedded-opentype'),
       url('/css/images/fontello.woff2?54523958') format('woff2'),
       url('/css/images/fontello.woff?54523958') format('woff'),
       url('/css/images/fontello.ttf?54523958') format('truetype'),
       url('/css/images/fontello.svg?54523958#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/css/images/fontello.svg?54523958#fontello') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  margin:0;
}
 
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-logout-1:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */

