@import '/css/fonts.css?7' screen;
.no-visible {display:none !important}
.name-section{display:none !important}
.highlighted{color:#e83a6a}
html,body{margin:0;padding:0;font-size:14px;font-family:'Museo Sans Cyrl 300',sans-serif;min-height:100vh}
body {min-width:320px;color:#203842;overflow:hidden;overflow-y:scroll;font-weight:300;background-color:#E5E5E5;
	display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column
}
body.body-home{background:#FFF}
/*body *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}*/
* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none !important}
a,img{border:none;text-decoration:underline}
img{max-width:100%;height:auto !important}
a:hover {text-decoration: none}
pre { white-space: pre-wrap; word-wrap: break-word;}
table {border-collapse: collapse; border: none; border-spacing: 0; }
p,h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;word-wrap:break-word;font-weight:normal}
::-webkit-input-placeholder {color:#203842;font-size:1rem;font-weight:normal;font-family:'Museo Sans Cyrl 300',sans-serif}
::-moz-placeholder          {color:#203842;font-size:1rem;font-weight:normal;font-family:'Museo Sans Cyrl 300',sans-serif}
:-moz-placeholder           {color:#203842;font-size:1rem;font-weight:normal;font-family:'Museo Sans Cyrl 300',sans-serif}
:-ms-input-placeholder      {color:#203842;font-size:1rem;font-weight:normal;font-family:'Museo Sans Cyrl 300',sans-serif}
:focus::-webkit-input-placeholder { color: transparent }
:focus::-moz-placeholder { color: transparent }
:focus:-moz-placeholder { color: transparent }
:focus:-ms-input-placeholder { color: transparent }
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
input[type='number']{-moz-appearance:textfield;margin:0}
select,strong,button{font-family: 'Museo Sans Cyrl 300', sans-serif;font-size:100%}
select{background-color:#FFF;border:none;color:#203842;height:30px;cursor:pointer;
	transition:all 0.4s;-webkit-transition:all 0.4s;border-radius:16px;padding:0 10px
}
input[type='text'],input[type='tel'],input[type='email'],input[type='password'],
input[type='number'],input[type='search'],input[type='submit']{
	font-family:'Museo Sans Cyrl 300',sans-serif;font-size:1rem;height:44px;font-weight:300;
	padding-left:15px;width:100%;background-color:#EFF3F9;border:1px solid #EFF3F9;color:#203842;
	transition:all 0.4s;-webkit-transition:all 0.4s;border-radius:8px
}
textarea{font-family:'Museo Sans Cyrl 300',sans-serif;font-size:1rem;padding:7px;width:100%;color:#203842;
	background-color:#EFF3F9;border:1px solid #ccc;font-weight:400;min-height:50px;height:100%;
	transition:all 0.4s;-webkit-transition:all 0.4s;border-radius:8px
}
input[type='text']:focus,input[type='tel']:focus,input[type='email']:focus,input[type='password']:focus,
input[type='number']:focus,input[type='search']:focus,textarea:focus{border-color:#203842}
input[type='submit']{background:#44C568;color:#FFF;cursor:pointer}
input[type='submit']:hover{color:#203842;background-color:rgba(221,64,64,0.2)}
input.Err{background-color:rgba(221,64,64,0.2);border-color:#DD4040}

.info-for-pages{font-size:1rem;line-height:1.2}
.clearfix:before, .clearfix:after { content:" "; display:table; width:100%}
.myvideo { position:relative; overflow:hidden; margin: 10px 0; width: 100%; max-width: 560px; display: block;}
.myvideo-for-ifarme { padding-bottom:56.25%; width: 100%; overflow:hidden; }
.myvideo iframe,.myvideo object,.myvideo embed { position:absolute; top:0; left:0; width:100%; height:100%; }
.myvideo:last-of-type { margin: 10px 0 0; }
.bg-cover{background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
.bg-contain{background-position:50% 50%;background-repeat:no-repeat;background-size:contain}
.bg-cover-top{background-position:50% 0;background-repeat:no-repeat;background-size:cover}
.bg-contain-top{background-position:50% 0;background-repeat:no-repeat;background-size:contain}
.bg-cover-right{background-position:100% 50%;background-repeat:no-repeat;background-size:cover}
.user-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.xk{font-size:14px;padding:0;position:relative;z-index:5;padding-bottom:5px;font-weight:normal;
	display:-webkit-flex;display:flex;flex-flow:row wrap;-webkit-flex-flow:row wrap;width:100%
}
.xk>span{display:-webkit-flex;display:flex}
.xk a {color:#203842;text-decoration:none;display:block}
.xk a:hover{color:rgba(232,58,106,1)}
.xk i{display:block;width:21px;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAYAAABY+sXzAAAANElEQVQImZXMQQ3AIBAAwWn5FT/IQQQWLsEpEvjjAOi8N5ucBSbGg45vE1dktPfi/EugwALtlASI78dP5wAAAABJRU5ErkJggg==') 50% 50% no-repeat;
}
.for-xk{padding:0 0 15px;background:#FFF;margin: 0 0 20px}
.file-save{margin:0 0 15px;position:relative;display:-webkit-flex;display:flex;
	align-items:center;-webkit-align-items:center
}
.file-save>span{display:block;margin-left:10px;font-size:10px;color:#434242}
.file-save a{color:#203842;display:block;transition:color 0.4s;-webkit-transition:color 0.4s}
.file-save a:hover{color:rgba(232,58,106,1)}
.file-save [class^="icon-"],.file-save [class*=" icon-"]{color:#434242;font-size:120%;
	transition:color 0.4s;-webkit-transition:color 0.4s;margin:0
}
.file-save a:nth-of-type(1):hover span{color:rgba(232,58,106,1)}
.file-save a:nth-of-type(1){margin-right:10px}
.strTop{opacity: 0.7;cursor:pointer;z-index:100; background:url(/img/top.png?1)50% 0 no-repeat;
	width:58px;height:58px;position:fixed;top:50%;right:10px;margin-top:-29px
}
.strTop:hover{opacity:1}
.back-top{visibility:hidden;display:block}
.back-top.active{visibility:visible;transition:visibility 0.8s;-webkit-transition:visibility 0.8s}

.navPage{margin:0 -4px;padding-top:20px}
.navPage a{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;background:transparent;
	color:#203842;justify-content:center;-webkit-justify-content:center;width:25px;height:25px;border-radius:50%;
	text-decoration:none;font-weight:bold;margin:0 4px 8px;font-size:14px;line-height:1;
	transition:all .4s;-webkit-transition:all .4s;position:relative
}
.navPage a.activPage{background:rgba(220,122,122,1);cursor:not-allowed;pointer-events:none;color:#FFF}
.navPage a:hover{color:rgba(220,122,122,1)}
.navPage a.goto-back:before{content: "";position: absolute;top: 50%;left: 50%;width: 0; height: 0;
	transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);
	border-top:5px solid transparent;border-right:10px solid #203842;border-bottom:5px solid transparent
}
.navPage a.goto-back:hover:before{border-right-color:rgba(232,58,106,1)}
.navPage a.goto-end:before{content: "";width: 0; height: 0;position: absolute;top: 50%;left: 50%;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-top: 5px solid transparent;border-left: 10px solid #203842;border-bottom: 5px solid transparent;
}
.navPage a.goto-end:hover:before{border-left-color:rgba(232,58,106,1)}
.next-page{padding:8px 0 10px}
.next-page_{cursor:pointer;height:40px;width:250px;border-radius:10px;background:#959595;color:#FFF;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;border:none
}
.next-page_:hover{background:#46c5d6}
.dobro{color:#203842;font-size:11px;line-height:1.1;text-align:center}
.dobro a{color:#000}
#BoxModalMain,#Modal_Sales{position:fixed;left:100%;top:0;bottom:0;z-index:800;background:rgba(0,0,0,.75);opacity:0;
	transition:opacity .7s;-webkit-transition:opacity .7s;width:100%;
	display:-webkit-flex;display:flex;
	align-items: center;-webkit-align-items: center;
	justify-content:center;-webkit-justify-content:center;
	overflow: auto; -webkit-overflow-scrolling: touch 
}
#BoxModalMain > *,#Modal_Sales>* {transform: translateZ(0px)}
#BoxModalMain.active,#Modal_Sales.active{left:0;opacity:1}
#Dialog{z-index:901;position:relative;width:100%;max-width:450px;color:#203842;background:#FFF;
	padding:20px;border-radius:15px
}
#Dialog.viewing{max-width:750px;height:600px;overflow:auto;padding:15px 10px 10px}
#Dialog .close{display:block;cursor:pointer;width:22px;height:22px;margin:0 0 20px auto}
#Dialog>h3{margin:0 0 15px;font-size:24px;font-weight:400;line-height:1;text-align:center}
#Dialog .message{margin-bottom:15px;text-align:center}
#Dialog form>div{margin-bottom:15px;text-align:center}
#Modal_Sales_{z-index:901;position:relative;width:100%;max-width:450px;color:#000;background:#FFF;
	padding:0 15px;height:calc(100vh - 60px);
}
.modal-sales_header{padding:10px 0}
.modal-sales_content{position:absolute;top:70px;bottom:65px;overflow:auto;left:15px;right:15px}
/********CAPTHCA**********/
.for-capt{width:254px;flex:0 0 auto;-webkit-flex:0 0 auto;text-align:center;margin:0 auto}
.for-capt>p{font-size:12px;padding-top:5px}
.capt{width:254px;height:44px;text-align:center;position:relative;background:#FFF;border:2px solid #44C568;
	border-radius:8px
}
.capt-drag{width:70px;height:40px;cursor:pointer;position:absolute;
	left:0;top:0;z-index:3;background:#44C568;transition:all 0.3s;-webkit-transition:all 0.3s
}
.capt-drag span{color:#FFF;font-size:150%;margin-top:-3px}
.capt-drop{width:70px;height:40px;background:transparent;position:absolute;top:0;right:0;z-index:1}
.capt-drag:hover span{color:#203842}
/*********flex**********/
.flex{display:-webkit-flex;display:flex}
.flex-wrap{flex-flow:row wrap;-webkit-flex-flow:row wrap}
.flex-align-center{align-items:center;-webkit-align-items:center}
.flex-align-start{align-items:start;-webkit-align-items:start}
.flex-align-end{align-items:flex-end;-webkit-align-items:flex-end}
.flex-justify-between{justify-content:space-between;-webkit-justify-content:space-between}
.flex-justify-center{justify-content:center;-webkit-justify-content:center}
.flex-justify-end{justify-content:flex-end;-webkit-justify-content:flex-end}
.flex-justify-around{justify-content:space-around;-webkit-justify-content:space-around}
.flex-column{display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column}
/************************** content ************************************************************/
.return{margin:0 0 10px;font-size:12px;font-weight:600}
.return a{text-decoration:none;color:#000}
.return a span:nth-of-type(1):before{margin:0;font-size:150%}
.return a span:nth-of-type(1){margin-right:3px}
.return img{display:block;width:25px;margin-right:5px}
.return a:hover{color:#e83a6a}
.namePages{font-size:30px;line-height:46px;font-family:'Museo Sans Cyrl 700';font-weight:normal}
.main{width:100%;max-width:1440px;padding:0 40px;margin:0 auto}
.main-text{width:100%;max-width:1020px;margin: 0 auto;padding:0 10px}
.main.main-relative{position:relative}
.main.padding-top,.main-text.padding-top{padding-top:20px}
.main.padding-bottom,.main-text.padding-bottom{padding-bottom:20px}
.main.padding, .main-text.padding{padding-top:20px;padding-bottom:20px}
.main.padding40, .main-text.padding40{padding-top:40px;padding-bottom:40px}
.main.padding10,.main-text.padding10{padding-top:10px;padding-bottom:10px}
/***************/
.logo{width:224px;display:block}
.content{flex:1 0 auto;-webkit-flex:1 0 auto;z-index:1;display:-webkit-flex;display:flex;
	width:100%;max-width:1440px;margin:0 auto;position:relative
}
.body-home .content{height:100vh;align-items:center;-webkit-align-items:center;
	justify-content:center;-webkit-justify-content:center
}
.content-left{background:#FFF;box-shadow:10px 0px 40px rgba(77,131,181,0.15);border-radius:0px 20px 20px 0px;
	width:284px;position:sticky;top:0;min-height:100vh;max-height:100vh;flex:0 0 auto;-webkit-flex:0 0 auto;
	padding:40px 30px
}
.content-left .logo{margin-bottom:60px}
.left-menu{height:40px;border-radius:24px;text-decoration:none;color:#203842;line-height:16px;margin-bottom:10px;
	font-family: 'Museo Sans Cyrl 700';padding-left:47px;position:relative;border:1px solid transparent;
	display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out
}
.left-menu.nav_2:before{content:"";width:12px;height:12px;position:absolute;left:18px;top:50%;margin-top:-6px;
	background:url(/img/1.svg) 0 0
}
.left-menu.nav_2:hover:before,.left-menu.nav_2.current:before{background-position:0 -12px}
.left-menu.nav_3:before{content:"";width:12px;height:9px;position:absolute;left:18px;top:50%;
	transform:translateY(-50%);-webkit-transform:translateY(-50%);
	background:url(/img/2.svg) 0 0
}
.left-menu.nav_3:hover:before,.left-menu.nav_3.current:before{background-position:0 -9px}
.left-menu.nav_4:before{content:"";width:12px;height:12px;position:absolute;left:18px;top:50%;margin-top:-6px;
	background:url(/img/3.svg) 0 0
}
.left-menu.nav_4:hover:before,.left-menu.nav_4.current:before{background-position:0 -12px}
.left-menu.nav_5:before{content:"";width:12px;height:7px;position:absolute;left:18px;top:50%;
	transform:translateY(-50%);-webkit-transform:translateY(-50%);
	background:url(/img/4.svg) 0 0
}
.left-menu.nav_5:hover:before,.left-menu.nav_5.current:before{background-position:0 -7px}
.left-menu.nav_6:before{content:"";width:12px;height:10px;position:absolute;left:18px;top:50%;margin-top:-5px;
	background:url(/img/5.svg) 0 0
}
.left-menu.nav_6:hover:before,.left-menu.nav_6.current:before{background-position:0 -10px}
.left-menu:hover{border-color:#F52341;color:#F52341}
.left-menu.current{color:#F52341;background-color:rgba(245,35,65,0.2)}
.left-line{height:1px;background:#C8D2D9;margin-bottom:10px}
.content-right{width:300px;flex:1 0 auto;-webkit-flex:1 0 auto;padding-bottom:40px}
/****HOME*******/
.home-header{position:absolute;top:0;left:0;width:100%;padding:40px 40px 0}
.home-content{width:100%;max-width:720px;height:368px;background:#FFF;overflow:hidden;
	box-shadow:0px 0px 40px rgba(77,131,181,0.25);border-radius:14px;
}
.home-content_left{width:300px;flex:1 0 auto;-webkit-flex:1 0 auto}
.home-form{max-width:300px}
.home-form_name{font-family:'Museo Sans Cyrl 900';font-size:30px;line-height:32px;margin-bottom:20px}
.home-form_input{margin-bottom:20px}
.for-password input{padding-right:36px}
.for-password{position:relative}
.for-password>span{position:absolute;bottom:14px;right:10px;cursor:pointer;width:16px;height:16px}
.for-password>span:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;
	background:url(/img/eye.svg) 50% 50% no-repeat;opacity:1
}
.for-password>span:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;
	background:url(/img/eye_.svg) 50% 50% no-repeat;opacity:0
}
.for-password>span.active:before{opacity:0}
.for-password>span.active:after{opacity:1}
.home-content_right{width:340px;flex:0 0 auto;-webkit-flex:0 0 auto}
/** Для всех страниц ***********/
.header-left{width:300px;flex:1 0 auto;-webkit-flex:1 0 auto}
.header-right{width:250px;flex:0 0 auto;-webkit-flex:0 0 auto;padding-top:10px}
.user-ico{width:40px;flex:0 0 auto;-webkit-flex:0 0 auto}
.user-logo{width:40px;height:40px;border-radius:50%;margin-bottom:15px;background-image:url(/img/man.svg)}
.user-lk,.user-exit{width:15px;height:15px;cursor:pointer;color:rgba(73,121,154,1);position:relative}
.user-lk:hover,.user-exit:hover{color:rgba(220,122,122,1)}
.user-lk span,.user-exit span{position:absolute;top:50%;left:50%;
	transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)
}
.user-info{text-align:right;margin-right:15px}
.user-info h4{font-size:16px;margin-bottom:5px}
.user-info h5{font-size:14px;font-weight:normal;margin-bottom:10px;color:rgba(73,121,154,1)}
/*******Личный кабинет***********/
.zvezda{color:#DD4040}
.persona{margin-bottom:20px}
.persona-menu{position:relative;z-index:2}
.persona-menu_{border:1px solid #49799A;border-radius:10px 10px 0 0;padding:7px 15px;z-index:2;
	background:#E5E5E5;cursor:pointer;margin-left:-1px;border-bottom:none;position:relative
}
.persona-menu_:nth-of-type(1){margin-left:0}
.persona-menu_.active{background:#FFF;border-bottom-color:#FFF;
	transform:translateY(1px);-webkit-transform:translateY(1px);
	cursor:not-allowed;pointer-events:none
}
.persona-for-form{padding:15px;border:1px solid #49799A;position:relative;z-index:1;
	background:#FFF;border-radius:0 10px 10px 10px
}
.person-dann>h2{width:100%;margin-bottom:15px;font-weight:bold;font-size:18px}
.person-dann-left{width:50%;padding-right:20px}
.person-dann-right{width:50%;padding-left:20px}
.person-dann-left>div,.person-dann-right>div{margin-bottom:15px}
.persona-logo{border-radius:8px;overflow:hidden;position:relative}
.persona-logo>span{background:rgba(255,255,255,0.8);border:1px solid rgba(255,255,255,0.8);
	height:40px;position:absolute;bottom:0;left:0;width:100%;cursor:pointer;border-radius:0 0 8px 8px;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
	display:-webkit-flex;display:flex;
	align-items:center;-webkit-align-items:center;
	justify-content:center;-webkit-justify-content:center
}
.persona-logo>span:hover{background:#FFF;border-color:#49799A}
.persona-logo>span span{position:relative;padding-left:20px}
.persona-logo>span span:before{content:"";position:absolute;width:8px;height:11px;left:0;top:50%;
	transform:translateY(-50%);-webkit-transform:translateY(-50%);
	background:url(/img/download_photo.svg) 50% 50% no-repeat
}
.persona-logo img{display:block}
.for-submit{padding-top:20px;width:100%}
.for-submit button{width:209px;height:44px;border-radius:8px;border:none;text-align:center;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
	background:rgba(73,121,154,0.2);cursor:pointer
}
.for-submit button:hover{background:rgba(73,121,154,1);color:#FFF}
/*******Delivery*******/
/*.delivery-point{margin-bottom:10px}*/
.delivery-point select,.delivery-point span{margin:0 7px 10px 0}
.delivery-point>div{margin:0 10px 10px 0}
.delivery-point label{margin-left:3px}
.delivery-point .multi_org{width:100%}
.delivery-point .multi_org>div{margin:0 10px 10px 0}
.delivery-point.multi select,.delivery-point .multi_org{display:none}
.delivery-point.multi .multi_org{display:-webkit-flex;display:flex;
	flex-flow:row wrap;-webkit-flex-flow:row wrap;
	align-items:center;-webkit-align-items:center
}

.delivery-period label,.delivery-date1{margin-right:10px}
.delivery-date2,.delivery-date1{width:80px}
.delivery-period input{padding:0;height:20px;text-align:center;cursor:pointer}
.delivery-period span{margin-right:6px;line-height:16px;color:rgba(32,56,66,0.5)}
.delivery-reload,.rating-reload,.analitik-reload,.proceeds-reload,.accounting-reload
{position:relative;cursor:pointer;padding-left:24px;margin-right:30px;
	transition:color 0.3s ease-in-out;-webkit-transition:color 0.3s ease-in-out
}
.delivery-reload:before,.rating-reload:before,.analitik-reload:before,.proceeds-reload:before,.accounting-reload:before
{content:"";position:absolute;width:16px;height:16px;left:0;top:50%;margin-top:-8px;
	background:url(/img/reload.svg) 50% 50% no-repeat
}
.delivery-reload:hover,.rating-reload:hover,.analitik-reload:hover,.proceeds-reload:hover,.accounting-reload:hover{color:#F52341}
.delivery-filter{cursor:pointer;position:relative;
	transition:color 0.3s ease-in-out;-webkit-transition:color 0.3s ease-in-out
}
.delivery-filter .icon-sliders{margin-right:7px;font-size:130%}
.delivery-filter:hover span{color:#F52341}
.delivery-period,.delivery-filter{margin-right:30px}
.popup-filter{position:absolute;top:100%;left:50%;white-space:nowrap;background:#FFF;
	border-radius:15px;padding:20px;display:none;z-index:20;border:1px solid #203842;color:#000;
	transform:translateX(-50%);-webkit-transform:translateX(-50%)
}
.popup-filter>div{margin-bottom:15px}
.popup-filter>div:last-of-type{margin-bottom:0}
.popup-filter input{display:none}
.popup-filter label{cursor:pointer;position:relative;padding-left:15px}
.popup-filter label:hover{color:#F52341}
.popup-filter label:before{content:'';width:9px;height:9px;border:1px solid #F52341;
	border-radius:50%;position:absolute;left:0;top:50%;margin-top:-5px;
	transition:background-color 0.3s ease-in-out;-webkit-transition:background-color 0.3s ease-in-out
}
.popup-filter input:checked + label:before{background-color:#F52341}

.rezult-scroll{max-width:100%;overflow:hidden;overflow-x:auto}

.delivery-tr{padding:0 20px;background:#FFF;box-shadow:10px 0px 40px rgba(77,131,181,0.15);
	border-radius:14px;display:-webkit-flex;display:flex;margin-bottom:2px;min-width:1076px
}
.delivery-tr .modal{cursor:pointer;text-decoration:underline}
.delivery-tr .modal:hover{text-decoration:none}
.delivery-td{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
	width:100px;flex:0 0 auto;-webkit-flex:0 0 auto;color:rgba(73,121,154,1);
	line-height:16px;font-family: 'Museo Sans Cyrl 500';height:56px
}
.delivery-td_center{justify-content:center;-webkit-justify-content:center}
.delivery-td_color>span{position:relative}
.delivery-td_color.green{background:rgba(107,215,137,1);color:#FFF}
.delivery-td_color.yelow{background:rgba(232,188,123,1);color:#FFF}
.delivery-td_color.red{background:rgba(220,122,122,1);color:#FFF}
.delivery-td_color.green>span,.delivery-td_color.yelow>span,.delivery-td_color.red>span{padding-left:20px}
.delivery-td_color.green>span.before_time:before,
.delivery-td_color.yelow>span.before_time:before,
.delivery-td_color.red>span.before_time:before{
	content:"";position:absolute;width:14px;height:14px;left:0;top:50%;margin-top:-7px;
	background:url(/img/time.svg) 50% 50% no-repeat
}
/*.delivery-td:nth-of-type(1){color:#C8D2D9}*/
.delivery-td:last-of-type{flex:1 0 auto;-webkit-flex:1 0 auto;padding-left:10px}
/*.delivery-tr_head{position:sticky;top:0;background-color:#E5E5E5;z-index:15}*/
.delivery-tr_head.delivery-tr{background:#ccecce;position:sticky;top:0;z-index:15;
	font-family: 'Museo Sans Cyrl 700';color:#203842 !important
}
/*.delivery-tr_head .delivery-td{font-family: 'Museo Sans Cyrl 700';color:#203842 !important}*/
.delivery-person{position:relative;padding-left:20px;overflow:hidden;text-overflow:ellipsis}
.delivery-person:before{content:"";width:18px;height:18px;top:50%;margin-top:-9px;left:0;
	background:url(/img/person.svg) 50% 50% no-repeat;position:absolute
}
.delivery-help{padding-top:16px;margin-bottom:10px}
.delivery-help>div{margin-right:50px;position:relative}
.delivery-help>div:last-of-type{margin-right:0}
.delivery-no-delays,.delivery-late,.delivery-minus-to-salary{padding-left:20px}
.delivery-no-delays:before,.delivery-late:before,.delivery-minus-to-salary:before
{content:"";position:absolute;left:0;top:50%;margin-top:-8px;width:16px;height:16px;border-radius:50%}
.delivery-no-delays:before{background:rgba(107,215,137,1)}
.delivery-late:before{background:rgba(232, 188, 123, 1)}
.delivery-minus-to-salary:before{background:rgba(220, 122, 122, 1)}
/*********** rating-courier ************/
.rating-courier{margin-right:30px}
.rating-rezult{padding-top:30px}
.rating-rezult-left{min-width:600px;margin-right:40px;flex:1 0 auto;-webkit-flex:1 0 auto}
.rating-rezult-right{width:360px;flex:0 0 auto;-webkit-flex:0 0 auto}
.rating-top{background:#FFF;padding:20px;border-radius:14px;
	position:sticky;top:0
}
.rating-top>div{margin-bottom:15px;display:-webkit-flex;display:flex;
	align-items:center;-webkit-align-items:center;
	justify-content:space-between;-webkit-justify-content:space-between
}
.rating-top>div:nth-of-type(1){font-size:24px;line-height:24px;font-weight:bold}
.rating-top>div:last-of-type{margin-bottom:0}
.rating-tr_head{position:sticky;top:0;padding:10px 0 8px;background-color:#E5E5E5;z-index:5}
.rating-tr_head .rating-td{font-family: 'Museo Sans Cyrl 700';color:#203842 !important}
.rating-tr{padding:0 20px;background:#FFF;box-shadow:10px 0px 40px rgba(77,131,181,0.15);
	border-radius:14px;display:-webkit-flex;display:flex;margin-bottom:2px
}
.rating-td{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
	width:100px;flex:0 0 auto;-webkit-flex:0 0 auto;color:rgba(73,121,154,1);
	line-height:16px;font-family: 'Museo Sans Cyrl 500';height:56px
}
.rating-td:nth-of-type(2){flex:1 0 auto;-webkit-flex:1 0 auto;padding-left:10px}
/*********** analotik ************/
.analitik-rezult{padding-top:30px;margin:0 -10px}
.analitik-block{width:calc(100%/3 - 20px);margin:0 10px 30px;background:#FFF;
	border-radius:14px;padding:20px 20px 0;overflow:hidden;
	display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column
}
.analitik-block-content{flex:1 0 auto;-webkit-flex:1 0 auto}
.analitik-block-content>h3{font-size:20px;font-family:'Museo Sans Cyrl 700';
	line-height:24px;margin-bottom:15px
}
.analitik-block-content>div{margin-bottom:15px;display:-webkit-flex;display:flex;
	align-items:center;-webkit-align-items:center
}
.analitik-block-content>div.space-between{justify-content:space-between;-webkit-justify-content:space-between}
.analitik-button{height:50px;cursor:pointer;font-size:14px;line-height:17px;color:rgba(73,121,154,1);
	margin:0 -20px;border-top:1px solid #E3E8EB;text-decoration:none;font-family:'Museo Sans Cyrl 700';
	flex:0 0 auto;-webkit-flex:0 0 auto;display:-webkit-flex;display:flex;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
	align-items:center;-webkit-align-items:center;justify-content:center;-webkit-justify-content:center
}
.analitik-button:hover{color:#F52341;border-color:#F52341;background-color:rgba(245,35,65,0.2)}
.procent{color:#44C568;font-family:'Museo Sans Cyrl 700'}
/*************proceeds*************************/
.proceeds .proceeds-tr:last-of-type{border-radius:0 0 14px 14px}
.proceeds-tr{padding:0 20px;background:#FFF;box-shadow:10px 0px 40px rgba(77,131,181,0.15);
	display:-webkit-flex;display:flex;margin-bottom:2px;min-width:1076px;
	flex-flow:row wrap;-webkit-flex-flow:row wrap
}
.proceeds-tr h3{width:100%;margin:10px 0;font-family: 'Museo Sans Cyrl 700';font-size:16px;text-align:center}
.proceeds-tr.proceeds-tr_head{border-radius:14px 14px 0 0;background:#ccecce;
	position:sticky;top:0;z-index:15;font-family: 'Museo Sans Cyrl 700';color:#203842 !important
}
.proceeds-td{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
	justify-content:center;-webkit-justify-content:center;width:20%;padding:7px 0;font-family:'Museo Sans Cyrl 700'
}
/*********************accounting****************************/
.accounting-tr{padding:0 0 0 20px;background:#FFF;box-shadow:10px 0px 40px rgba(77,131,181,0.15);
	border-radius:14px;display:-webkit-flex;display:flex;margin-bottom:2px;min-width:700px;overflow:hidden
}
.accounting-tr_head.accounting-tr{background:#ccecce;position:sticky;top:0;z-index:15;
	font-family: 'Museo Sans Cyrl 700';color:#203842 !important
}
.accounting-td{display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
	width:100px;flex:0 0 auto;-webkit-flex:0 0 auto;color:rgba(73,121,154,1);
	line-height:16px;font-family: 'Museo Sans Cyrl 500';min-height:56px;padding:7px 0
}
.accounting-td:nth-of-type(3),.accounting-td:nth-of-type(5),.accounting-td:nth-of-type(6){width:200px}
.accounting-td:nth-of-type(3){flex:1 0 auto;-webkit-flex:1 0 auto}
.accounting-tr .accounting-td:last-of-type{width:80px;padding:0 20px;background:rgba(73,121,154,0.3)}
.accounting-tr .accounting-td.active:last-of-type{background:#ccecce}
.accounting-tr_head.accounting-tr .accounting-td:last-of-type{background:transparent !important}
.accounting-td span{display:inline-block;position:relative;padding-right:20px}
.accounting-td span i{color:rgba(73,121,154,0.5);font-size:12px}
.accounting-td .cash:before,.accounting-td .visa:before
{content:"";width:14px;height:8px;position:absolute;right:0;top:50%;margin-top:-4px}
.accounting-td .cash:before{background:url(/img/bank_mani.svg?1) 50% 50% no-repeat}
.accounting-td .visa:before{background:url(/img/bank_map.svg) 50% 50% no-repeat}
.refund,.refund *{cursor:pointer}
.refund label{width:18px;height:18px;background:rgba(73,121,154,1);border-radius:50%;position:relative}
.refund label:before{content:"";width:10px;height:8px;position:absolute;visibility:hidden;
	top:5px;left:4px;background:url(/img/chek.svg) 50% 50% no-repeat
}
.refund.active{background:#ccecce}
.refund.active label{background:rgba(68,197,104,1)}
.refund.active label:before{visibility:visible}
.accounting-td .delivery-person{cursor:pointer;text-decoration:underline;
	transition:color 0.3s ease-in-out;-webkit-transition:color 0.3s ease-in-out
}
.accounting-td .delivery-person:hover{text-decoration:none;color:#F52341}
.m-accounting{line-height:18px;font-family:'Museo Sans Cyrl 700';margin-bottom:7px}
.m-accounting.for-center{text-align:center}
.flex-bag>span:nth-of-type(1),.flex-bag1>span:nth-of-type(1),.flex-mani>span:nth-of-type(1),
.flex-map>span:nth-of-type(1),.flex-red>span:nth-of-type(1)
	{position:relative;padding-left:23px}
.m-accounting.flex-red{color:rgba(221,64,64,1)}
.flex-bag>span:nth-of-type(1):before{content:"";width:14px;height:12px;position:absolute;
	left:0;top:50%;margin-top:-6px;background:url(/img/bag.svg) 50% 50% no-repeat
}
.flex-bag1>span:nth-of-type(1):before{content:"";width:18px;height:18px;position:absolute;
	left:0;top:50%;margin-top:-9px;background:url(/img/bag1.svg) 50% 50% no-repeat
}
.flex-mani>span:nth-of-type(1):before{content:"";width:14px;height:8px;position:absolute;
	left:0;top:50%;margin-top:-4px;background:url(/img/bank_mani.svg) 50% 50% no-repeat
}
.flex-map>span:nth-of-type(1):before{content:"";width:14px;height:8px;position:absolute;
	left:0;top:50%;margin-top:-4px;background:url(/img/bank_map.svg) 50% 50% no-repeat
}
.flex-red>span:nth-of-type(1):before{content:"";width:18px;height:18px;position:absolute;
	left:0;top:50%;margin-top:-9px;background:url(/img/hand.svg) 50% 50% no-repeat
}
/*SALES*/
.sales{border-top:2px solid #FFF;padding-top:15px;margin-bottom:10px}
.sales strong{font-size:18px}
.sales input[type='number']{width:80px}
.sales>div{margin-bottom:20px}
.sales-point{margin-bottom:10px}
.sales-point>div{margin:0 15px 10px 0}
.sales-point>div label,.sales_dish>div label,.modal-sales_content label{
	margin-left:5px;cursor:pointer;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
.sales_reports{width:200px;flex:1 0 auto;-webkit-flex:1 0 auto;margin:0 0 30px}
.sales_dish{width:200px;flex:0 0 auto;-webkit-flex:0 0 auto;margin:0 0 30px 30px}
.sales_dish>div{margin-bottom:7px}
.modal-active{width:209px;height:35px;border-radius:8px;border:none;text-align:center;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
	background:rgba(73,121,154,0.2);cursor:pointer;margin-bottom:15px
}
.modal-active:hover{background:rgba(73,121,154,1);color:#FFF}
.dish-selected>div{margin:0 15px 10px 0;display:-webkit-flex;display:flex;
	align-items:center;-webkit-align-items:center
}
.dish-selected .del-dish{margin-right:5px;width:12px;height:12px;cursor:pointer;
	background:url(/img/x1.png) 50% 50% no-repeat;background-size:contain
}
.modal-sales_button{position:absolute;bottom:15px;left:15px;right:15px}
.modal-sales_button button{width:100px;height:35px;border-radius:8px;border:none;text-align:center;
	transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
	background:rgba(73,121,154,0.2);cursor:pointer
}
.modal-sales_button button:hover{background:rgba(73,121,154,1);color:#FFF}

@media screen and (min-width: 1024px) {
	body{overflow-y:scroll !important}
	.fixed-menu-button,.content-left .user-dann,.window-load{display:none}
}
@media screen and (max-width: 1024px) {
	body{overflow-x:auto;padding:0}
	#BoxModalMain{display:block;padding:10px}
	#Dialog{margin:0 auto}
	.main{padding:0 10px}
	.window-load{position:fixed;left:-100%;top:0;bottom:0;z-index:599;background:rgba(255,255,255,.75);
		width:100%;display:-webkit-flex;display:flex;align-items:center;-webkit-align-items:center;
		justify-content:center;-webkit-justify-content:center;overflow:hidden
	}
	.window-load img{display:block;width:32px;position:absolute;top:50%;left:50%;margin-top:-16px;margin-left:-16px}
	.window-load.active{left:0}
	.window-load.active-menu img{display:none}
	.fixed-menu-button{width:100%;height:45px;border-bottom:1px solid #203842;color:#203842;
		position:fixed;left:0;top:0;z-index:600;padding:0 20px;
		background:#FFF;display:-webkit-flex;display:flex;
		align-items:center;-webkit-align-items:center;
		justify-content:flex-end;-webkit-justify-content:flex-end
	}
	.burger{width:30px;height:25px;border:2px solid #FFF;border-radius:2px;
		position:relative;overflow:hidden;margin-right:10px
	}
	.burger span{height:3px;border-radius:2px;background:#203842;position:absolute;
		transition:all .6s ease-out;-webkit-transition:all .6s ease-out;left:3px;right:3px
	}
	.burger span:nth-of-type(1){top:3px}
	.burger span:nth-of-type(2){top:9px}
	.burger span:nth-of-type(3){top:15px}
	.burger.close span:nth-of-type(2){top: -30px}
	.burger.close span:nth-of-type(3){transform-origin:0 100%;transform:rotate(-37deg) translate(4px,5px);
		-webkit-transform-origin:0 100%;-webkit-transform:rotate(-37deg) translate(4px, 5px);left:-3px;right:3px
	}
	.burger.close span:nth-of-type(1){transform-origin:50% 50%;transform:rotate(37deg) translate(6px,3px);
		-webkit-transform-origin: 50% 50%;-webkit-transform:rotate(37deg) translate(6px, 3px);left:-3px;right:3px
	}
	.header-right{display:none}
	.content{padding-top:55px}
	.content-left{position:fixed;left:-320px;top:45px;z-index:600;border-radius:0;overflow:auto;
		transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out
	}
	.content-left.active{left:0}
	.content-left .logo{margin-bottom:30px}
	.content-left .user-dann{width:224px;padding-top:15px;border-top:1px solid #C8D2D9;margin:0 auto;
		justify-content:center;-webkit-justify-content:center
	}
	.content-left .user-info{flex:0 0 auto;-webkit-flex:0 0 auto}
	.content-left .user-info h4{font-size:16px;font-family:'Museo Sans Cyrl 700'}
	.period-filter-submit,.delivery-help{white-space:nowrap;flex-flow:row wrap;-webkit-flex-flow:row wrap}
	.delivery-help{padding-top:9px}
	.period-filter-submit>div,.delivery-help>div{margin-bottom:7px}
	.delivery-tr_head,.accounting-tr_head{top:46px}
	.rating-rezult{flex-flow:row wrap;-webkit-flex-flow:row wrap}
	.rating-rezult-left{order:2;-webkit-order:2}
	.rating-tr_head{top:46px}
	.rating-rezult-right{order:1;-webkit-order:1}
	.rating-top{position:static;padding:10px}
	.analitik-rezult{flex-flow:row wrap;-webkit-flex-flow:row wrap}
	.analitik-block{padding:10px 10px 0}
	.body-home .fixed-menu-button{display:none}
	.body-home .content{padding-top:0}
}
/*
.flex{display:-webkit-flex;display:flex}
.flex-wrap{flex-flow:row wrap;-webkit-flex-flow:row wrap}
.flex-align-center{align-items:center;-webkit-align-items:center}
.flex-align-start{align-items:start;-webkit-align-items:start}
.flex-align-end{align-items:flex-end;-webkit-align-items:flex-end}
.flex-justify-between{justify-content:space-between;-webkit-justify-content:space-between}
.flex-justify-center{justify-content:center;-webkit-justify-content:center}
.flex-justify-end{justify-content:flex-end;-webkit-justify-content:flex-end}
.flex-justify-around{justify-content:space-around;-webkit-justify-content:space-around}
.flex-column{display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column}
*/
@media screen and (max-width: 770px) {
	.home-content_right{display:none}
	.analitik-block{width:calc(50% - 20px)}
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 550px) {
	.analitik-block{width:calc(100% - 20px)}
}
@media screen and (max-width: 450px) {
}
/*
.flex{display:-webkit-flex;display:flex}
.flex-wrap{flex-flow:row wrap;-webkit-flex-flow:row wrap}
.flex-align-center{align-items:center;-webkit-align-items:center}
.flex-align-start{align-items:start;-webkit-align-items:start}
.flex-align-end{align-items:flex-end;-webkit-align-items:flex-end}
.flex-justify-between{justify-content:space-between;-webkit-justify-content:space-between}
.flex-justify-center{justify-content:center;-webkit-justify-content:center}
.flex-justify-end{justify-content:flex-end;-webkit-justify-content:flex-end}
.flex-justify-around{justify-content:space-around;-webkit-justify-content:space-around}
.flex-column{display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column}
*/
